@font-face {
	font-family: 'Conv_Montserrat-Medium';
	src: url('../fonts/Montserrat-Medium.eot');
	src: local('☺'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_NunitoSans-Regular';
	src: url('../fonts/NunitoSans-Regular.eot');
	src: local('☺'), url('../fonts/NunitoSans-Regular.woff') format('woff'), url('../fonts/NunitoSans-Regular.ttf') format('truetype'), url('../fonts/NunitoSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_WorkSans-Regular';
	src: url('../fonts/WorkSans-Regular.eot');
	src: local('☺'), url('../fonts/WorkSans-Regular.woff') format('woff'), url('../fonts/WorkSans-Regular.ttf') format('truetype'), url('../fonts/WorkSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('fonts/Pe-icon-7-stroke.eot?d7yf1v');
	src:url('fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;

}
@import "nullstyle.scss";



.wrapper {
}

.content {
   
    
}
.header {
   
    
       &_row{
           position: relative;
           display: flex;
           flex-flow: row nowrap;
           justify-content: space-between;
}
		&_logo {
            margin: 30px 0 10px 55px;
            

		}

		&_menu {
            margin: 30px 55px 10px 0;
            
		}

		&_list {
            display: flex;
            flex-flow: row nowrap;
            & li{
                margin: 0 25px 0 0 ;
            }
            & a{
                font-size: 15px;
                text-transform: uppercase;;
                color: black;
                &:hover{
                    color: #27cdc7;
                }
            }
                      
		}
}
.descript{
    color: #787878;
}
.grey{
    background-color: #e9e9e9;
}
.banner {
    max-width: 100vw;
       &_body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: 90vh;
    }

    &_pic {
        flex: 0 0 50%;
        & img{
            width: 100%; 
            object-fit: none;
        }       
        

    }

    &_text {
        margin: 0 70px 0 0 ;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        align-items: flex-start;
        flex: 0 0 40%;
    }

    &_title {
        font-size: 40px;
        color: #1d1d1d;
    }

    &_description {
        margin: 25px 0;
        font-size: 15px;
        line-height: 20px;
    }

    &_button {
        margin: 20px 0 0 0 ;
        color: white;
        
        & span{
            background-color: #27cdc7;
            padding: 20px 35px;
            font-weight: 100;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
     }
}

.about {

    &_body {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 400px;
    }

    &_title {
        font-family: 'Conv_Montserrat-Medium';
        font-size: 35px;
        
    }

    &_text {
        text-align: center;
        font-family: 'Conv_NunitoSans-Regular';
        line-height: 15px;
        margin: 45px 0;
        width: 600px;
    }

    &_sign {
        
    }
}

.skills {

    &_body {
        font-family: 'Conv_Montserrat-Medium';
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        height: 570px;
        align-items: center;
    }

    &_info {
        margin: 0 0 0 100px;
        
    }

    &_title {
        font-size: 30px;

    }

    &_list {  
        font-size: 12px;
        & li{
            margin: 35px 0 0 0;
            & p{
                margin: 0 0 15px 5px; 
                text-transform: uppercase;
                & span{
                    margin: 0 0 0 20px;
                }
            }
        }

        & svg{
            position: relative;
            width: 400px;
            height: 3px;
            z-index: 3;
            & path{
                width: 100%;
                height: 100%;
                fill: none;
                stroke: #d8d8d8;
                stroke-width: 100;
              &:nth-child(2){
                  stroke-dasharray: 400;                                                
                  stroke: #10c9c3;
              }
            }
        }
        & li:nth-child(1){
            stroke-dashoffset: calc(400 - (400 * 75) /100); 
        }
        & li:nth-child(2){
            stroke-dashoffset: calc(400 - (400 * 90) /100); 
        }
        & li:nth-child(3){
            stroke-dashoffset: calc(400 - (400 * 65) /100); 
        }
     }

    &_pic {
        flex: 0 0 50%;
        & img{
            width: 100%; 
            object-fit: none;
        }       
}
}

.numbers {

    &_body {
        font-family: 'Conv_Montserrat-Medium';
        background-color: #10c9c3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row nowrap;
        height: 240px;
    }

    &_object {
        color: white;
        display: flex;
        flex-flow: row nowrap;
    }
    &_icon{
        
    }

    &_info {
        text-transform: uppercase;
        margin:  0 0 0 25px;
    }

    &_value {
        font-size: 18px;
        margin:0 0 8px 0;
    }

    &_text {
        font-size: 12px;
        
    }
}

.work {
    
    &_body{
        height:700px ;
    }

    &_pictures{
        height: 600px;
        display: grid;
        grid-template:repeat(2, 1fr)/ repeat(4,25%);
        
    }

    &_pic {
             
        
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
                        
        }
    }

    &_button {
         display: flex;
         text-align: center;
         text-transform: uppercase;
         background: #f5f5f5;
                & a{
             display: flex;
             align-items: center;
             justify-content: center;
             width: 100vw;
             height: 100px;
             color: #10c9c3;
             font-size: 20px;
             letter-spacing: 1px;
             &:hover{
                 background-color:#10c9c3 ;
                 color: #c7c7c7;
             }
         }
     }
}
.workprocess {

    &_body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;

    }

    &_title {
        margin: 100px 0 35px 0;
        font-family: 'Conv_Montserrat-Medium';
        font-size: 30px;
    }

    &_text {
        width: 500px;
        font-family: 'Conv_NunitoSans-Regular';
        font-size: 16px;
        margin: 0 0 55px 0;
        text-align: center;
        line-height: 20px;
    }

    &_video {
        position: relative;
        width: 1200px;
        height: 600px;
        margin: 0 0 100px 0;
        & iframe{
            position: absolute;
            height: 100%;
            width: 100%
        }

    }
}
.services {

    &_body {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
        padding: 100px 0;
        height: 550px;
        row-gap: 60px;
        column-gap: 50px;
        margin: 0 100px;
    }

    &_object {
        font-family: 'Pe-icon-7-stroke';
        text-align: center;
        font-size: 50px;
        &:nth-child(1){
            &::before{
                content: '\e6af';
            }
        }
        &:nth-child(2){
            &::before{
                content: '\e6ab';
            }
        }
        &:nth-child(3){
            &::before{
                content: '\e627';
            }
        }
        &:nth-child(4){
            &::before{
                content: '\e6a4';
            }
        }
        &:nth-child(5){
            &::before{
                content: '\e625';
            }
        }
        &:nth-child(6){
            &::before{
                content: '\e611';
            }
        }
        &:nth-child(7){
            &::before{
                content: '\e6b9';
            }
        }
        &:nth-child(8){
            &::before{
                content: '\e6bd';
            }
        }
        
    }

    &_title {
        margin: 18px 0 10px 0;
        font-family: 'Conv_Montserrat-Medium';
        font-size: 20px;
        line-height: 12px;
    }

    &_text {
        font-family: 'Conv_NunitoSans-Regular';
        font-size: 15px;
        line-height: 20px;
    }
}
.test {

    &_body {
        height: 500px;
        background-color: #10c9c3;
    }

    &_text {
       
        min-width: 0;
        bottom: 0px;
    }

    &_slider {
        min-width: 0;
        
        
    }
}

.slider {
       position: relative;
       min-width: 0;
       height: 500px; 
       display: grid;
       row-gap: 1fr;
       &.slick-list {
        overflow: hidden;
    }
    

   
         & .slick-dots{
             
             display: flex;
             justify-content: center;
             align-items: flex-end;
             margin: 15px 30px;
             
          
         & li{
             margin: 0 5px;
             list-style: none;
             &.slick-active{
                & button{
                width: 10px;
                height: 10px;
                background-color: white;
                opacity: 1;
                }
              }
            & button{
                font-size: 0;
                width: 7px;
                height: 7px;
                background-color: white;
                opacity: 0.5;
                border-radius: 50%;
                  
                
              }
         }
        }
        
            
    &_item {
        min-width: 0;
        margin: 200px 40px;     
        & p{
            font-family: 'Conv_Montserrat-Medium';
            color: white;
            text-align: center;
            
            &:nth-child(1){
                font-size: 35px;
                margin: 0 0 30px 0;
    
                }
                &:nth-child(2){
                    font-size: 15px;
                    font-style: italic;
                }
                   }
                   
    }
}

.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}

.clients {

    &_body {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 200px;
        flex-flow: row wrap;
    }

    &_item {
    }
}

.need {

    &_body {
        height: 750px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        position: relative;
    }
    &_title{
        
        font-family: 'Conv_Montserrat-Medium';
        font-size: 40px;
    }

    &_text {
        font-family: 'Conv_NunitoSans-Regular';
        color: #787878;
        font-size: 18px;
        width: 540px;
        margin: 40px 0;
    }

    &_form {
    
         
    }
    .form {
       
        &_submission {
            width: 670px;
            display: grid;
            grid-template-areas: "name email"
                                 "title title"
                                 "message message"
                                 "sendBtn sendBtn";
            gap: 30px;
      
        }
        &_name {
            grid-area: name;
            position: relative;
            display: inline-block;
            
            height: 40px;
        }
        &_email{   
            grid-area: email;         
            display: inline-block;
            
            height: 40px;
        }
        &_title{
            grid-area: title;
            display: inline-block;
            width: 100%;
            height: 40px;
        }
        &_message{
            grid-area: message;
            display: inline-block;
            width: 100%;
            height: 170px;

        }
        &_sendBtn{
        grid-area: sendBtn;   
        justify-self: center;
        background-color: #10c9c3;
        padding: 25px;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
        width: auto;
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }
        }
    
    }
    input,textarea {
        font-family: 'Conv_NunitoSans-Regular';
        padding: 17px;
        font-size: 15px;
    }
  
   
 

 }


.footer {

    &_body {
        height: 280px;
        background-color: #141414;
        color: white
    }

    &_text {
        height: 100%;
        display: grid;
        justify-content: space-around;
        align-items: center;
        grid-template-areas:
             "title conect menu";
        font-size: 17px;

    }

    &_title {
        grid-area: title;
        & p{
            margin: 10px 0;
            line-height: 20px;
            &:nth-child(2){
                color: #bcbcbc;
            }
        }
    }

   
    &_conect {
        grid-area: conect;
        display: flex;
        flex-direction: column;
    }

    &_menu {
        grid-area: menu;
    }
    & a{
        color: #bcbcbc;
       }
}
.menu {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
   

    &_info {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 10px;
        margin: 0 50px 0 0;
        
    }

    &_social {
        display: flex;
        flex-flow: column wrap;
        margin: 0 130px;
        line-height: 25px;
    }
}









